
:root {
    --system-font: /*system-ui,*/ -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Noto Sans UI", "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

menu {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

body {
    font-family: var(--system-font);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 20px 0px black;
    background-color: #3f3f3f;
    color: #eee;
    overflow: hidden;

    /* Nothing is implicitly selectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.busy {
    cursor: wait !important;
}
body.no-cursor {
    cursor: none !important;
}

body > :not(script) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body > menu {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 1;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

body > menu > h1 {
    margin: 0;
    font-size: 6vh;
}

#level-list {
    margin-top: 0;
    margin-bottom: 1vh;
    height: 100%;
    list-style-position: inside;
    font-size: 4vh;
}

#level-list li:not([disabled]) {
    cursor: pointer;
}

#level-list li[disabled] {
    cursor: not-allowed;
    color: grey;
}

body > menu > #fullscreen-button {
    grid-row: 2;
    grid-column: 1;
    padding: 2vh 3vh;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

.big-button {
    font-family: var(--system-font);
    background-color: floralwhite;
    color: black;
    border-width: 4px;
    border-style: outset;
    font-size: 4vh;
}

body > game > aside > section:last-child .big-button {
    padding: 4% 10%;
}

.big-button:active {
    background-color: silver;
    color: black;
    border-style: inset;
}

body > game {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
    display: flex;
    flex-direction: row;
}

body > game > aside {
    width: 20vw;
    max-width: 30vh;
    display: flex;
    flex-direction: column;
    padding-right: 1%;
    padding-left: 1vh;
}

body > game > aside h2,
dialog h2 {
    text-align: center;
    margin: 0;
    font-size: 6vh;
}

body > game > aside h2:not(:first-child) {
    margin-top: 4vh;
}

body > game > aside > section:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 2vh;
}


#goal, #focus {
    text-align: center;
    vertical-align: middle;
    height: 30vh;
}

#goal *, #focus * {
    display: block;
}

#goal img, #focus img, #map img, dialog img {
    min-width: 32px;
    min-height: 32px;
}

#goal label, #focus label, #map label, dialog label {
    display: block;
    font-size: 3vh;
}

body > game > main {
    height: 100vh;
    flex-grow: 1;
}

#map  {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

#map td.item,
#map td.item *
{
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
}

#map td.item.focusing,
#map td.item.focusing *,
#map td.npc.focusing,
#map td.npc.focusing *
{
    cursor: pointer;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#map td.npc,
#map td.npc *
{
    cursor: help;
}

#map td.npc.asking,
#map td.npc.asking *,
dialog::backdrop,
dialog,
dialog *
{
    cursor: crosshair;
}

#level-list, #map, #goal, #focus {
    border-style: inset;
    border-color: #eee;
    border-width: 2px;
    box-shadow: inset 0 0 10px 0px black;
}

#map td {
    position: relative;
}

#map td > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

dialog::backdrop { /* native */
  background-color: rgba(0,0,0,0.6);
}
dialog + .backdrop { /* polyfill */
  background-color: rgba(0,0,0,0.6);
}
dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
