
:root {
    --system-font: /*system-ui,*/ -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Noto Sans UI", "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    font-family: var(--system-font);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 20px 0px black;
    background-color: #3f3f3f;
    color: #eee;
    overflow: hidden;

    /* Nothing is implicitly selectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.busy {
    cursor: wait !important;
}

body.no-cursor {
    cursor: none !important;
}

body > :not(script) {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    display: block;
}

body > menu {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

body > menu > * {
    flex-grow: 1;
    margin: 2vh 2vw;
    padding: 5vw 10vw;
    font-size: 10vw;
}

#start-button:not(.returning) > .return,
#start-button.returning > .first {
    display: none;
}

.big-button {
    font-family: var(--system-font);
    background-color: floralwhite;
    color: black;
    border-width: 1%;
    border-style: outset;
}

.big-button:active {
    background-color: silver;
    color: black;
    border-style: inset;
}

body > menu > button.hidden {
    display: none;
}

body > game {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

body > game > aside {
    width: 20vw;
    max-width: 30vh;
    display: flex;
    flex-direction: column;
    padding-right: 1%;
    padding-left: 4px;
}

body > game > aside h2,
dialog h2 {
    text-align: center;
    margin: 0;
}

body > game > aside h2:not(:first-child) {
    margin-top: 20px;
}

body > game > aside > section:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

body > game > aside > section:last-child > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 8px;
}

body > game > aside > section:last-child > div > * {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 6px;
    margin-top: 6px;
    width: fit-content;
}

body > game > aside > section:last-child .big-button {
    padding: 4% 10%;
    font-size: 4vh;
}

#goal, #focus {
    text-align: center;
    vertical-align: middle;
    height: 30vh;
}

#goal *, #focus * {
    display: block;
}

#goal img, #focus img, #map img, dialog img {
    min-width: 32px;
    min-height: 32px;
}
#goal label, #focus label, #map label, dialog label {
    display: block;
}

body > game > main {
    height: 100vh;
    flex-grow: 1;
}

#map  {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

#map td.item,
#map td.item *
{
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
}

#map td.item.focusing,
#map td.item.focusing *,
#map td.npc.focusing,
#map td.npc.focusing *
{
    cursor: pointer;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#map td.npc,
#map td.npc *
{
    cursor: help;
}

#map td.npc.asking,
#map td.npc.asking *,
dialog::backdrop,
dialog,
dialog *
{
    cursor: crosshair;
}

#map td, #goal, #focus {
    border-style: inset;
    border-color: #eee;
    border-width: 2px;
    box-shadow: inset 0 0 10px 0px black;
}

#map td {
    position: relative;
}

#map td > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

dialog::backdrop { /* native */
  background-color: rgba(0,0,0,0.6);
}
dialog + .backdrop { /* polyfill */
  background-color: rgba(0,0,0,0.6);
}
dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
